.c-old {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://www.cinecasero.uy/img/old.webp);
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 150;
  pointer-events: none;
}

.c-noise {
  background-image: url(https://www.cinecasero.uy/img/noise-full.png);
  height: 300%;
  left: -50%;
  opacity: .032;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 100;
  pointer-events: none;
} 