@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Set global font-family */
body {
  @apply font-sans; /* Tailwind's font-sans utility */
  cursor: none; /* Hide the default cursor */
}

/* Custom styles for elements */
button, a {
  cursor: pointer; /* Show pointer cursor for clickable elements */
}

.cursor {
  height: 20px;
  width: 20px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  transition: all cubic-bezier(0.16, 1, 0.3, 1) 0.3s;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* Allow text selection globally */
* {
  user-select: text;
}
